.services {
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    border: rounded;
}
.services-compare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    
    gap: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'proxima-nova', sans-serif;
}
.detailbut {
    background-color: black;
}
.red {
    color: red;
}
.green {
    color: green;
}
