.homepage {
    padding-top: 2.5%;
    font-family: 'proxima-nova', sans-serif;
}

.home-img {
    max-width: 45%;
    max-height: 45%;
    margin: 0 auto;
    display: block;
}
.detailbut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 250px;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'proxima-nova', sans-serif;
}
.btn-black {
    background: black;
    color: #D8FF97;
    border: 2px solid #D8FF97;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
  }