p {
    font-family: 'proxima-nexa', sans-serif!important;
}
li {
    font-family: 'proxima-nexa', sans-serif!important;
}

h3 {
    font-family: 'proxima-nexa', sans-serif!important;
}
h4 {
    font-family: 'proxima-nexa', sans-serif!important;
}

a {
    font-family: 'proxima-nexa', sans-serif!important;
}