.footer {
    background-color: black;
    border-top: 3px solid #D8FF97;
    color: #D8FF97;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    font-size: small;
    padding-top: 15px;
    flex-grow: 1; 
    overflow-y: "auto";
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    
}
.foot-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: medium;
}

.foot-row {
    display: flex;
    flex-direction: row !important;
    
}
.foot-img {
    width: 20%;
    height: 20%;
    min-width: 10%;
    min-height: 10%;
    margin-left: 40%;
    margin-right: 40%;
}
.heading {
    font-size: small;
}
.a{
    font-size: small;
}

