.foot-box {
padding: 20px 80px;
background: black;
position:relative;
margin-top: 5%;
margin-left: 0;
margin-right: 0;
border-top: 4px solid #D8FF97 !important;
height: 100%;
font-size: smaller;
font-family: 'proxima-nova', sans-serif;
}

.aohgreen {
    color: #D8FF97;
}