.blogs {
    height: 100%;
    padding: 10px;
    margin: 10px;
}
.preview {
    background-color: dark;
    padding: 5%;
    font-family: 'proxima-nova', sans-serif;
    font-size: small;
    height: 100%;
    width: 100%;
}
.title {
    background-color: black;
    padding: 2.5%;
    color: #D8FF97;
}
.blurb {
    background-color: black;
    padding: 5%;
    color: #D8FF97;
}
.cardoutline{
    outline: 1px solid #D8FF97;
    background-color: black;
}
.blogbuttons {
    width: 100%;
    height: 100%;
    font-family: 'proxima-nova', sans-serif;
}

.blogcontent {
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 12px;
}
.bloglink {
    color: black;
    text-decoration: none;
}
.Blog {
    padding-top: 5%;
}
.blogtittle {
    padding-bottom: 10px;
}
.img-mesh {
    width: 45%;
    height: 45%;
    margin-bottom: 10px;

}
.graphbound {
    display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 25%;
  margin-right: 25%;
}
a {
    font-family: 'proxima-nova', sans-serif;
}